<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.InserirCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.DeleteCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.UpdateCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoClienteServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.NovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClienteServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LoginClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoClienteServlet</servlet-name>
        <url-pattern>/NovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClienteServlet</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>InserirCategoriaServlet</servlet-name>
        <url-pattern>/InserirCategoria</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>UpdateCategoriaServlet</servlet-name>
        <url-pattern>/UpdateCategoria</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>DeleteCategoriaServlet</servlet-name>
        <url-pattern>/DeleteCategoria</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/Categoria</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
