<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginClienteServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LoginClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.ListarCategoriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.NovaCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.DeletarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.AtualizarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoClienteServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.NovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarClienteServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.DeletarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.AtualizarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.NovoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.DeletarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.ListarProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosEmEstoqueServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.ListarProdutosEmEstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarVendaServlet</servlet-name>
        <servlet-class>smdecommerce.vendas.controle.EfetuarVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirOperacaoServlet</servlet-name>
        <servlet-class>smdecommerce.vendas.controle.ExcluirOperacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendasServlet</servlet-name>
        <servlet-class>smdecommerce.vendas.controle.ListarVendasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendasPorClienteServlet</servlet-name>
        <servlet-class>smdecommerce.vendas.controle.ListarVendasPorClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioServlet</servlet-name>
        <servlet-class>smdecommerce.relatorio.controle.RelatorioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoClienteServlet</servlet-name>
        <url-pattern>/NovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarClienteServlet</servlet-name>
        <url-pattern>/DeletarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <url-pattern>/AtualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClienteServlet</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <url-pattern>/NovaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <url-pattern>/AtualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCategoriaServlet</servlet-name>
        <url-pattern>/DeletarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <url-pattern>/ListarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <url-pattern>/NovoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <url-pattern>/DeletarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/AtualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosEmEstoqueServlet</servlet-name>
        <url-pattern>/ListarProdutosEmEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarVendaServlet</servlet-name>
        <url-pattern>/EfetuarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirOperacaoServlet</servlet-name>
        <url-pattern>/ExcluirOperacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendasServlet</servlet-name>
        <url-pattern>/ListarVendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendasPorClienteServlet</servlet-name>
        <url-pattern>/ListarVendasPorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioServlet</servlet-name>
        <url-pattern>/Relatorios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
